{
  "parser": "@babel/eslint-parser",

  "parserOptions": {
    "sourceType": "module",
    "requireConfigFile": false
  },

  "env": {
    "jest": true
  },

  "extends": "airbnb-base",

  "rules": {
    "max-len": [2, 120, 2],
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}
