node_modules
.idea
.yarn
lib
src/formatter/templates/*.js
src/parser/*/peg_parser.ts
.tool-versions
src/normalize_mappings/suffix-normalize-mapping.ts
.parcel-cache
src/parser/chord/combined_grammer.pegjs
src/parser/chord/suffix_grammar.pegjs
src/parser/chord_pro/sections_grammar.pegjs
